header {
    background: linear-gradient(90deg, rgba(74,163,255,1) 0%, rgba(0,85,227,1) 100%) !important;
    color: white !important;
}

ul {
    padding: 0 60px;
    list-style-type: none;
}


li a {
    color: #fff !important;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 5px 15px 5px 15px;
}

li a:hover {
    color: #212121 !important;
    background: #fff !important;
}

.navbar {
    padding: 0;
}

#top li {
    padding: 0;
    line-height: 1.8;

}

#top li a {
    font-size: 16px;
    padding: 0;
}

#top li a:hover {
    background: none;
    text-decoration: none;
}

.col-md-2 .fab {
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;

}

.navbar-brand img {
    height: 60px;

}

.navbar-toggler {
    color: #fff;
}

.fas:hover,
.fab:hover {
    color: #E5E7E9;

}

@media(max-width: 992px) {
    .col-md-2 .fab {
        font-size: 18px;
        padding-right: 0;
    }
}

@media(max-width: 768px) {
    #top {
        display: none;
    }

    .navbar-brand img {
        height: 50px;

    }

    .navbar-dark .navbar-toggler {
        outline: none;
        border-color: rgba(255, 255, 255, 0);
    }

    ul,
    li {
        padding: 0;
        text-align: center;

    }

    .navbar-nav {
        padding-bottom: 40px;
    }

}


.province{
    text-align: center;
    vertical-align: middle;
    line-height: 180px;
    background-image: url("../images/pro.jpg");
    min-height: 180px;
}

.text-xl{
    font-family: Lato;
    font-size: 2.3rem;
    font-weight: bold;
}

.link-null, .link-null:hover{
    color: #212121;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.card{
    padding: 1.2rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);     
}



/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .gradient-table{
    background: linear-gradient(90deg, rgba(74,163,255,1) 0%, rgba(0,85,227,1) 100%);
    color: white;
  }

  .soft-shadow{
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .tab{
    border-collapse:separate;
    border-spacing:0 20px;
}

.inner_button {
    display: inline-block;
}



